extends layout

block content
  h1 Practice #{type} in:
  div
  - each keylog in keylogs
    a(href=type + '/' + keylog.key)
      div.keyholder
        b
          div= keys[keylog.key]
        hr
        div.avg-tempo Avg tempo:
        span.badge(class=keylog.rank)
          span
            img(src='/images/notes/crotchet.png')
          span  = 
          span= Math.round(keylog.adjustedBpm) 

  .or - or -

  a(href=type + '/' + random) 
    div.keyholder.wide Choose random key
  
  a(href=type + '/' + random) 
    div.keyholder.wide Choose random scale

